// Place all the styles related to the Table_mmr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

article.mmr {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px solid;
}

article.head {
	font-weight: bold;
}